body{
    background-image:  url("../img/wallpaper.png");
    background-size: 100% 100vh;
}

.topbar{
    text-align: center;
    color : white;
    font-weight: bold;
    font-size: 5rem;
}

.topbar:hover{
    color: #ffee00;
    font-size: 5.5rem;
    transition: 200ms;
}

.celularNumeroUno{
    display: inline-block;
    width: 50%;
}

#input{
    background-color: #7c6b342c;
    border: 3px solid #00000000;
    text-align: center;
    color: white;
    border-radius: 5%;
    margin: 4% 0 4% 16%;
    padding: 0 0 20% -20%;
    font-size: 30px;
}

#input::placeholder{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.celularNumeroUno{
    align-items: center;
    width: 50%;
}

#encrip{
    margin: 1% 5% 0 25%;
    font-size: 20px;
}

#desencrip{
    margin: 0 0 0 7%;
    font-size: 20px;
}

.celularNumeroDos{
    display: inline-block;
}

#copiar{
    font-size: 20px;
}

footer{
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 1.5%;
}